<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2> <mat-icon>chat</mat-icon>{{ "Chat" | localize }}</h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <button mat-icon-button [matMenuTriggerFor]="headerMenu" class="header-dropdown-mat-icon-button">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #headerMenu="matMenu">
                            <button mat-menu-item (click)="refresh()">
                                <mat-icon>refresh</mat-icon>
                                <span>{{ "Refresh" | localize }}</span>
                            </button>
                        </mat-menu>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <!--query start-->
                <div class="row clearfix">
                    <form>
                        <mat-form-field>
                            <input matInput [placeholder]="l('Buscar por UserName')" [(ngModel)]="persona" name="persona">
                        </mat-form-field>

                        <div class="row">
                            <div class="col-md-4 text-right p-r-25">
                                <button style="float:right;" mat-raised-button color="primary" (click)="abrirConversacion(persona)">{{ 'Search' | localize }}</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--query end-->
                <!-- <div class="card main-content" style="width: 100%; height: 60px; padding-left: 20px;" *ngFor="
                let mensaje of (mensajes
                  | paginate
                    : {
                        id: 'server',
                        itemsPerPage: pageSize,
                        currentPage: pageNumber,
                        totalItems: totalItems
                      })
              ">

                            <h4 style="padding-top: 10px;">{{ mensaje.personaUserName }}</h4>
                            <span>{{ mensaje.texto }}</span>
                            <span style="font-size: 9px; float: right;">{{ mensaje.fechaHora | date:'shortTime' }}</span>
                        
                </div> -->
                <div>
                    <table class="table table-hover table-striped" [busy]="isTableLoading">
                        <tbody>
                            <tr  *ngFor="
                            let mensaje of (mensajes
                            | paginate
                                : {
                                    id: 'server',
                                    itemsPerPage: pageSize,
                                    currentPage: pageNumber,
                                    totalItems: totalItems
                                })
                        ">
                                <td (click)="abrirConversacion(mensaje.personaUserName)">
                                    <h4 style="padding:0px ;">{{ mensaje.personaUserName }}</h4>
                                    <span>{{ mensaje.texto }}</span>
                                    <span style="font-size: 9px; float: right;">{{ mensaje.fechaHora | date:'short' }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
