<div class="row clearfix" [@routerTransition] style="widows: 900px;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="header">
            <h2><mat-icon>zoom_in</mat-icon>Detalles de {{paciente.datosPersonalesUserName}}</h2>
        </div>
        <div class="card main-content">
            <div class="body table-responsive">
                <mat-dialog-content style="width:1000px;height:900px;">
                    <table class="table table-hover table-striped" [busy]="isTableLoading" style="text-size-adjust: auto;">
                        <thead>
                            <tr><th><h4>Datos Personales</h4></th></tr>
                            <tr>
                                <th>{{ "Nombre y Apellidos" | localize }}   </th>
                                <th>{{ "Telefono" | localize }} </th>
                                <th>{{ "E-mail" | localize }}</th>
                            </tr>
                        </thead>   
                        <tbody>
                            <tr>
                                <td>{{ paciente.datosPersonalesName }} {{ paciente.datosPersonalesSurname }}</td>
                                <td>{{ paciente.datosPersonalesTelefono }}</td>
                                <td>{{ paciente.datosPersonalesEmailAddress }}</td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr> 
                                <th>{{"Fecha de Nacimiento" | localize}}</th>
                                <th> </th>
                                <td> {{paciente.fechaNacimiento | date:"dd-MM-yyyy" }}</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>{{"Num de la Seguridad Social" | localize}}</th>
                                <th></th>
                                <td> {{paciente.numSeguridadSocial}}</td> 
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-hover table-striped" [busy]="isTableLoading" style="text-size-adjust: auto;">
                        <thead>
                            <tr><th> <h4>Domicilio</h4></th></tr>
                            <tr>
                                <th>{{ "Tipo" | localize }}   </th>
                                <th>{{ "Nombre" | localize }} </th>
                                <th>{{"Numero " |localize }}</th>
                                <th>{{"Letra " |localize }}</th>
                            </tr>
                        </thead> 
                        <tbody>
                            <tr>
                                <td>{{paciente.dondeViveTipo}}</td>
                                <td>{{paciente.dondeViveNombre}}</td>
                                <td>{{ paciente.dondeViveNumero }}</td>
                                <td>{{ paciente.dondeViveLetra }}</td>
                               
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>{{"Km en la vía " |localize }}</th>
                                <th>{{"Bloque " |localize }}</th>
                                <th>{{"Portal " |localize }}</th>
                                <th>{{"Escalera " |localize }}</th>
                                <th>{{"Planta " |localize }}</th>
                                <th>{{"Puerta " |localize }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ paciente.dondeViveKm_en_la_via }}</td>
                                <td>{{ paciente.dondeViveBloque }}</td>
                                <td>{{ paciente.dondeVivePortal }}</td>
                                <td>{{ paciente.dondeViveEscalera }}</td>
                                <td>{{ paciente.dondeVivePlanta }}</td>
                                <td>{{ paciente.dondeVivePuerta }}</td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>{{ "Entidad de Población" | localize}}</th>
                                <th>{{ "Municipio" | localize}}</th>
                                <th>{{ "Provincia" | localize}}</th>
                                <th>{{ "País" | localize}}</th>
                                <th>{{ "Codigo Postal" | localize}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ paciente.dondeViveEntidad_de_Poblacion}}</td>
                                <td>{{ paciente.dondeViveMunicipio}}</td>
                                <td>{{ paciente.dondeViveProvincia}}</td>
                                <td>{{ paciente.dondeVivePais}}</td>
                                <td>{{ paciente.dondeViveCodigo_Postal}}</td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr><th> <h4>Control de Temperatura</h4></th></tr>
                            <tr>
                                <th>{{ "Fabricante de su Termometro" | localize }}   </th>
                                <th>{{"Temperatura media" | localize}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> {{paciente.termometroFabricante}} </td>
                                <td> {{paciente.temperatura_Media}}</td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr><th> <h4>Datos del Medico de Cabecera</h4></th></tr>
                            <tr>
                                <th>{{"User" | localize}}</th>
                                <th> {{"Nombre y Apellidos"}}</th>  
                            </tr>
                        </thead>
                        <tbody> 
                            <tr>
                                <td> {{paciente.miMedicoCabeceraDatosPersonalesUserName}}</td>
                                <td> {{paciente.miMedicoCabeceraDatosPersonalesName}}  {{paciente.miMedicoCabeceraDatosPersonalesSurname}}</td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>{{"E-mail" | localize}}</th>
                                <td>{{paciente.miMedicoCabeceraDatosPersonalesEmailAddress}}</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th> {{"Telefono" | localize}}</th>
                                <td> {{paciente.miMedicoCabeceraDatosPersonalesTelefono}}</td>
                            </tr>
                        </tbody>      
                    </table>
                </mat-dialog-content>
            </div>  
        </div>
    </div>
</div>

