<div class="row clearfix" [@routerTransition] style="width:900px;height:400px;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2><mat-icon>supervisor_account</mat-icon>{{ "Asociar Responsables" | localize }}</h2>
            </div>
            <div class="body table-responsive">
                <mat-dialog-content>
                    <mat-tab-group>
                        <mat-tab [label]="'Elegir Responsable' | localize">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field>
                                                <input matInput [placeholder]="l('Login')" [(ngModel)]="filter" name="filter">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6 text-right p-r-25">
                                            <button mat-raised-button color="primary" (click)="buscar()">{{ 'Search' | localize }}</button>
                                        </div>
                                    </div>
                                </form>
                            
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>{{"Login" | localize}}</th>
                                        <th>{{ "Nombre y Apellidos" | localize }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let respon of (responsables)">
                                        <td>{{ respon.datosPersonalesUserName }} </td>
                                        <td>{{ respon.datosPersonalesName }} {{ respon.datosPersonalesSurname }}</td>
                                        <td>
                                            <button class="action-button" mat-icon-button [matMenuTriggerFor]="actionsMenu">
                                                <mat-icon>menu</mat-icon>
                                            </button>
                                            <mat-menu #actionsMenu="matMenu">
                                                <button mat-menu-item (click)="save(respon)">
                                                    <mat-icon>record_voice_over</mat-icon>
                                                    <span>{{ "Asociar" | localize }}</span>
                                                </button>
                                            </mat-menu>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </mat-tab>
                        <mat-tab [label]="'Nuevo Responsable' | localize">
                        <br />
                        <div class="row-fluid">
                            <div class="col-md-6">
                              <mat-form-field>
                                <input
                                  matInput
                                  name="UserName"
                                  [placeholder]="'UserName' | localize"
                                  [(ngModel)]="responsable.datosPersonalesUserName"
                                  required
                                  minlength="2"
                                  maxlength="32"
                                />
                              </mat-form-field>
                              <mat-form-field>
                                <input
                                  matInput
                                  name="Name"
                                  [placeholder]="'Name' | localize"
                                  [(ngModel)]="responsable.datosPersonalesName"
                                  required
                                  maxlength="32"
                                />
                              </mat-form-field>
                              <mat-form-field>
                                <input
                                  matInput
                                  name="Surname"
                                  [placeholder]="'Surname' | localize"
                                  [(ngModel)]="responsable.datosPersonalesSurname"
                                  required
                                  maxlength="32"
                                />
                              </mat-form-field>
                              <div class="checkbox-wrapper">
                                <mat-checkbox name="IsActive" [(ngModel)]="responsable.datosPersonalesIsActive">
                                  {{ "IsActive" | localize }}
                                </mat-checkbox>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field>
                                <input
                                  matInput
                                  name="EmailAddress"
                                  [placeholder]="'EmailAddress' | localize"
                                  [(ngModel)]="responsable.datosPersonalesEmailAddress"
                                  type="email"
                                  required
                                  maxlength="256"
                                  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$"
                                />
                              </mat-form-field>
                              <mat-form-field>
                                <input
                                  matInput
                                  name="Telefono"
                                  [placeholder]="'Telefono' | localize"
                                  [(ngModel)]="responsable.datosPersonalesTelefono"
                                  required
                                  maxlength="15"
                                  
                                />
                              </mat-form-field>
                              <mat-form-field>
                                <input
                                  matInput
                                  #password="ngModel"
                                  [placeholder]="'Password' | localize"
                                  [(ngModel)]="responsable.datosPersonalesPassword"
                                  type="password"
                                  name="password"
                                  id="password"
                                  validateEqual="confirmPassword"
                                  reverse="true"
                                  required
                                  maxlength="32"
                                />
                              </mat-form-field>
                              <mat-form-field>
                                <input
                                  matInput
                                  [placeholder]="'ConfirmPassword' | localize"
                                  ngModel
                                  type="password"
                                  name="confirmPassword"
                                  id="confirmPassword"
                                  validateEqual="password"
                                  reverse="false"
                                  required
                                  maxlength="32"
                                />
                              </mat-form-field>
                            </div>
                          </div>
                          <div align="end">
                                <button mat-button type="button" [disabled]="saving" (click)="close(false)">
                                    {{ "Cancel" | localize }}
                                </button>
                                <button mat-flat-button
                                        flex="15"
                                        color="primary"
                                        (click)="saveyguardar()">
                                    {{ "Save" | localize }}
                                </button>
                            </div>                  
                        </mat-tab>
                    </mat-tab-group>
                </mat-dialog-content>
            </div>
        </div>
    </div>
</div>


