<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2 style="display: inline;"><mat-icon>supervisor_account</mat-icon> {{ " Mis Enfermedades" | localize }}</h2>
                
                <button style="float: right; border: none;  background-color: inherit;" (click)="ngOnInit()">
                    <mat-icon>refresh</mat-icon>
                </button>
            
            </div>
            <div class="body table-responsive">
                <div style="padding: 10px;" *ngFor="let enfermedad of (enfermedades.misEnfermedades)">
                    <div style="background-color:#E8F6F1; padding: 10px;">
                        <div  style="width: max-content;margin-left: 40%; color: #99D5CF;"><h4>{{enfermedad.enfermedad.nombre}}</h4></div>

                        <div style="width: 30%; display: inline-block; margin-bottom: 20px;"><h5>Sintomas</h5><span>{{enfermedad.enfermedad.sintomas}}</span></div>

                        <div style="width: 30%; float: right; display: inline-block;"><h5>Causa</h5><span>{{enfermedad.enfermedad.causas}}</span></div>
                    </div>
                </div>     
                
            </div>
        </div>
    </div>
</div>


