<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content" style="background-color:  #D3ECEA;">
            <div class="header">
                <h2><mat-icon>today</mat-icon> {{ "Citas de" | localize }} {{paciente.datosPersonalesUserName}} </h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <button mat-icon-button [matMenuTriggerFor]="headerMenu" class="header-dropdown-mat-icon-button">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #headerMenu="matMenu">
                            <button mat-menu-item (click)="refresh()">
                                <mat-icon>refresh</mat-icon>
                                <span>{{ "Refresh" | localize }}</span>
                            </button>
                        </mat-menu>
                    </li>
                </ul>
            </div>
            <br/>
            <div class="card main-content"  *ngFor="
            let cita of (citas
              | paginate
                : {
                    id: 'server',
                    itemsPerPage: pageSize,
                    currentPage: pageNumber,
                    totalItems: totalItems
                  })
          ">
                <div  class="body table-responsive" style="padding-bottom: 2px;">
                  <div style="width: auto; height: auto; display: inline; float: left;">
                      <h4> <i class="fa fa-user-md" aria-hidden="true"></i> {{"Medico" | localize}}</h4>
                      <p>{{cita.medicoDatosPersonalesName}} {{cita.medicoDatosPersonalesSurname}} </p>
                     <p> {{cita.medicoDatosPersonalesEmailAddress}} </p>
                     <p> {{cita.medicoDatosPersonalesTelefono}} </p>
                  </div>

                <div style="display: inline;float: right;">
                    <h4> <i class="fa fa-hospital-o" aria-hidden="true"></i> {{"Centro" | localize}}</h4> {{cita.centro}} <br/>
                    <h4> <i class="fa fa-home" aria-hidden="true"></i> {{"Direccion" | localize}}</h4> <span>{{cita.direccionTipo}} </span>  <span>{{cita.direccionNombre}}</span> {{cita.direccionNumero}} {{cita.direccionLetra}} <span *ngIf="cita.direccionKm_en_la_via > 0 ">{{cita.direccionKmenlavia}}</span> {{cita.direccionBloque}} {{cita.direccionPortal}} {{cita.direccionEscalera}} <span *ngIf="cita.direccionPlanta>0">{{cita.direccionPlanta}}</span> {{cita.direccionPuerta}} {{cita.direccionCodigo_Postal}} 
                    <br/> 
                    {{cita.direccionEntidaddePoblacion}} {{cita.direccionMunicipio}}, {{cita.direccionProvincia}}, {{cita.direccionPais}} 
                    <br/>
                    <h4> <i class="fa fa-plus-square" aria-hidden="true"></i> {{"Consulta" | localize}}</h4> {{cita.consulta}}
                </div>

                <div style="display: inline-block; margin-left: 100px; ">
                    <h4> <i class="fa fa-calendar" aria-hidden="true"></i> Fecha y Hora</h4>
                    {{cita.fechaHora}}
                </div>    
                <div style="display: inline-block; margin-left: 90px; ">
                    <h4> <i class="fa fa-medkit" aria-hidden="true"></i> Servicio</h4>
                    {{cita.servicio_Especialidad}}
                </div>
            </div>
            </div>
        </div>
        <button style="display:scroll; position:fixed; bottom:20px; right:10px;"
                             mat-mini-fab color="primary" class="pull-right" (click)="citar()">
            <mat-icon>add</mat-icon> 
        </button>
    </div>
</div>
